#vsphere55storage {
    display:none;
}
#vsphere60storage {
    display:none;
}
#vsphere55network {
    display:none;
}
#vsphere60network {
    display:none;
}
#vsphere55general {
    display:none;
}
#vsphere60general {
    display:none;
}
.table60 {
    width:100%;
}
.table55 {
    width:100%;
}
